<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\cadastro.css">
    <title>Login</title>
</head>
<body>
    <div class="main-cadastro">
        <div class="left-cadastro">
            <h1>Faça o seu cadastro conosco <br>E venha desenvolver, planejar e otimizar todas as suas tarefas</h1>
            <img src="static\cadastro.svg" class="left-cadastro-image" alt="Descrição livro liss">
        </div>
        <div class="right-cadastro">
            <div class="card-cadastro">
                <h1>Cadastro</h1>
                <div class="textfield">
                    <label for="nome">Nome de Usuário</label>
                    <input type="text" name="nome" placeholder="Nome de Usuário">
                </div>
                <div class="textfield">
     s               <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder="E-mail">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class="btn-cadastro">Cadastrar</button>
            </div>
        </div>
    </div>
</body>
</html>