<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lisstodo/static/cabecalho-home.css">
    <link rel="stylesheet" href="/lisstodo/static/welcomepage/linha-vertical.css">
    <link rel="stylesheet" href="/lisstodo/static/welcomepage/section1.css">
    <link rel="stylesheet" href="/lisstodo/static/welcomepage/section2.css">
    <link rel="stylesheet" href="/lisstodo/static/welcomepage/section3.css">
    <link rel="stylesheet" href="/lisstodo/static/welcomepage/section4.css">
    <title>Welcome Page</title>
</head>
<body style="
margin-top: 0px;
margin-left: 0px;
margin-right: 0;
margin-bottom: 0px;
margin-right: 0px;
">
    <header class="cabecalho">
    <img src="/lisstodo/static/img/mkt@TL2020.png" alt="Logo_liss">
        <nav class="navmenu">
        <a href="" class="navmenu_item">Quem Somos?</a>
        <a href="" class="navmenu_item">O que é o LissToDo?</a>
        <a href="" class="navmenu_item">Preços</a>
        <a href="" class="navmenu_item">Suporte</a>
        <a href="/contato.html" class="navmenu_item">Contato</a>
        </nav>
        <div class="linha-vertical"></div>
        <a href="/lisstodo/templates/login.html" class="navmenu_entrar">Entrar</a>
        <a href="/lisstodo/templates/cadastro.html"><button class="btn_cadastro">Cadastrar</button></a>
    </header>
    <section class="section1">
        <div class="section1_explorer">
            <p class="text_bold">Explore um novo mundo de gerenciamento de tarefas</p>
            <form action="/lisstodo/templates/cadastro.html" class="section1_getemail">
                <input type="text" name="email" placeholder="Seu e-mail">
                <button class="btn_cadastro2">Cadastre-se</button>
            </form>
        </div>
        <div class="section1_img"><img src="/lisstodo/static/img/Lisss.svg" alt="liss_world" class="img_liss">
        </div>
    </section>
    <section class="section2">
        <div class="section2_text">
            <p class="text_liss">O Liss ToDo é um aplicativo feito por estudantes,<br>
                especialmente projetado para atender às necessidades dos estudantes,<br>
                proporcionando uma plataforma dinâmica que facilita a organização de todas as atividades acadêmicas.<br>
                Com recursos inovadores, o Liss ToDo permite que você sequencie suas tarefas,<br>
                datas de entrega e compromissos oficiais, colocando todas as informações essenciais ao alcance das suas
                mãos.<br>
                Este aplicativo/site é o parceiro perfeito para ajudar você a gerenciar suas tarefas de forma eficiente e<br>
                manter seu calendário acadêmico sempre sob controle.</p>
        </div>
    </section>
    <section class="section3">
        <ul class="section3_topics">
            <li>Estude</li>
            <li>Desenvolva</li>
            <li>Otimize</li>
            <li>Gerencie</li>
            <li>Organize</li>
        </ul>
        <div class="section3_text">
            <p>Não há necessidade de começar do zero. Agilize seu fluxo de trabalho com um playbook comprovado projetado para equipes diferentes. Personalize-o para torná-lo único para você.</p>
        </div>
        <div class="section3_img">
            <img src="/lisstodo/static/img/Garoto_liss.jpg" alt="garoto" class="img_garoto">
        </div>
    </section>
    <section class="section4">
        <div class="section4_text">
            <p>INICIE COM O LISSTODO HOJE MESMO - É DE GRAÇA !</p>
        </div>
        <div class="section4_boxemail">
            <form action="" class="section4_getemail">
                <input type="text" name="email" placeholder="Seu e-mail">
                <button class="btn_cadastro3">Cadastre-se</button>
            </form>
        </div>
    </section>
    <footer class="rodape">
    </footer>
</body>
</html>
