.section4{
    background: #4BA9FF;
    height: 20vh;
    align-items: center;
    padding: 0 auto;
    margin: 0;
}

.section4_text{
    align-items: center;
    padding-left: 35%;
    padding-top: 3%;
}

.section4_boxemail{
    align-items: center;
    padding-left: 40%;
}