/* Geral */
/* aplicação de configurações gerais. Resetar o documento com o código abaixo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* colocar a cor no site de forma geral*/
body{
    background-color: black;
    height: 1000vh; /*altura inteira do site padrão 1000vh*/
    }

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header{
    padding: 40px 44%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* coloca a cor dos links e tbm tira o sublinhado deles */
header a{
    color: rgb(119, 119, 119);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.1);
}

header nav ul{
    list-style-type: none;
}
    

/* arruma todas as caracteristicas do botao 'entrar' e a fonte dele */
header.btn-contato a {
    display: inline-block;
    margin-right: 10px;

}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #004aad;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}
header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #004badcb;
}
