<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" class="text" href="static/syles.css">
    <meta charset="UTF-8">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Fim google fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="interface">

            <nav class="menu-desktop">
                <ul>
               
                </ul>
            </nav>
                </a>
            </div>
                </a>
            </div>
        </div>
        
    <section class="topo-do-site">
        <div class="jstopo"><h1 id="mensagem"></h1>
        </div>
        <div class="interface">
            <div class="flex">
                <div class="texto">
                    <p>O Liss ToDo é um aplicativo feito por estudantes, 
                        especialmente projetado para atender às necessidades dos estudantes, 
                        proporcionando uma plataforma dinâmica que facilita a organização de todas as atividades acadêmicas. 
                        Com recursos inovadores, o Liss ToDo permite que você sequencie suas tarefas, 
                        datas de entrega e compromissos oficiais, colocando todas as informações essenciais ao alcance das suas mãos. 
                        Este aplicativo/site é o parceiro perfeito para ajudar você a gerenciar suas tarefas de forma eficiente e manter seu calendário acadêmico sempre sob controle.</p>
                </div>
                <div class="img-topo-site">
                    <img src="static/Liss.png" alt="">

                </div>
            </div>
        </div>
        <div>
            <!-- styles2 -->
            <link rel="stylesheet" href="static\style.css" />
             <!-- font-awesome -->
                <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
            />
            <button class="sidebar-toggle">
                <i class="fas fa-bars"></i>
              </button>
              <aside class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="h">
                            <img id= "logoimage" src="static/mkt@TL2020.png" alt="Logo Lisstodo">
                        </a>
                    </div><!--logo-->
                  <button class="close-btn"><i class="fas fa-times"></i></button>
                </div>
                <!-- links -->
                <ul class="links">
                  <li>
                    <a href="login.html">Entrar</a>
                  </li>
                  <li>
                    <a href="cadastro.html">Cadastrar</a>
                  </li>
                  <li>
                    <a href="contato.html">Contato</a>
                  </li>
                </ul>
                <!-- social media -->
                <!-- Redes sociais, descomentar quando tivermos nossas redes para contato ou etc --
                    <ul class="social-icons">
                  <li>
                    <a href="https://www.twitter.com">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com">
                      <i class="fab fa-behance"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com">
                      <i class="fab fa-sketch"></i>
                    </a>
                  </li>
                </ul>
              </aside>>
              <-- javascript -->
              <script>
                  const toggleBtn = document.querySelector(".sidebar-toggle");
                  const closeBtn = document.querySelector(".close-btn");
                  const sidebar = document.querySelector(".sidebar");
                  
                  toggleBtn.addEventListener("click", function () {
                    // if (sidebar.classList.contains("show-sidebar")) {
                    //   sidebar.classList.remove("show-sidebar");
                    // } else {
                    //   sidebar.classList.add("show-sidebar");
                    // }
                    sidebar.classList.toggle("show-sidebar");
                  });
                  
                  closeBtn.addEventListener("click", function () {
                    sidebar.classList.remove("show-sidebar");
                  });
                  </script>
        </div>
    </section>
    <script>
         // Frase a ser exibida
        const frase = "TRANSFORMANDO SUAS TAREFAS !";

        const mensagemElement = document.getElementById("mensagem");
        const letras = frase.split(""); // Divide a frase em letras
        let indiceLetra = 0;

        function exibirProximaLetra() {
            if (indiceLetra < letras.length) {
                mensagemElement.textContent += letras[indiceLetra];
                indiceLetra++;
                setTimeout(exibirProximaLetra, 100); // Tempo de exibição de cada letra (em milissegundos)
        }
        }

        // Iniciar a exibição da primeira letra
        exibirProximaLetra();
        
    </script>
    
</body>

</html>
