<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="estilos/estilo.css" rel="stylesheet" />
    <title>homepage</title>
</head>
<body>
    <h1>Login</h1>
        
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <br>

        <label for="senha">Senha:</label>
        <input type="senha" id="senha" name="senha" required>
        <br>
        

        <input type="submit" value="Entrar">

        <a href="https://lisstodo-7959edaf5a5d.herokuapp.com/cadastro"><input type="submit" value="Cadastrar"> 
            

    </form>
    
</body>
