<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" class="text" href= "static\syles.css">
    <meta charset="UTF-8">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Fim google fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a href ="h">
                <img src="static/mkt@TL2020.png" alt="Logo Lisstodo">
                </a>
            </div><!--logo-->

            <nav class="menu-desktop">
            </nav>
            <div class="btn-contato">
            <a type="button" href="https://lisstodo-7959edaf5a5d.herokuapp.com/login"><button>Entrar</button></a>
            <a type="button" href="https://lisstodo-7959edaf5a5d.herokuapp.com/cadastro"><button>CADASTRAR</button></a>
            </div>
        </div> <!--interface-->
    </header>

</body>

</html>