<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Login</title>
</head> 
<body>
    <div id="form fundo">
        <center>
        <h1>Login</h1>
        </center>
        <div id="form_frente" >
            <form action="/login" id="login" method="post">
                <center>
                <label for="Email">E-mail: </label>
                <input type="text" name="nome" id="email" required placeholder="Digite seu E-mail:"><br><br>
                <label for="senha" id="senha">Senha: </label>
                <input type="password" name="senha" id="senha" required placeholder="Digite sua senha: "> <br><br>
                <button type="submit" id="btn_login">

                
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>ENTRAR
                </center>
                </button>
            </form>

        </div>

    </div>
</body>
</html>